@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-vault {
    --tw-bg-opacity: 1;
    background-color: rgb(244 247 249 / var(--tw-bg-opacity));
}

body{
    @apply bg-vault;
}

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.3em; vertical-align: super;}
sub { bottom: -0.25em; vertical-align: sub;}