@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

sub, sup { font-size: 80%; line-height: 0; vertical-align: baseline; position: static; }
sup { top: -0.2em; vertical-align: super;}
sub { bottom: -0.1em; vertical-align: sub;}

/* .recharts-cartesian-axis-tick {    
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
} */
