@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-vault {
    --tw-bg-opacity: 1;
    background-color: rgb(244 247 249 / var(--tw-bg-opacity));
}

body{
    @apply bg-vault;
}

sub, sup { font-size: 80%; line-height: 0; vertical-align: baseline; position: static; }
sup { top: -0.2em; vertical-align: super;}
sub { bottom: -0.1em; vertical-align: sub;}